{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block sonata_top_nav_menu %}
        {% set sites = app.user.sites %}
        {% if is_granted(sonata_admin.adminPool.getOption('role_super_admin')) or sites is empty %}
            {% set sites = get_all_sites() %}
        {% endif %}
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                {#                    'entities' : ['LightFlowVideo','TrafficShaper'],#}
                {{ render_all_notifications({
                    'site' : current_site('code'),
                    'entities' : ['LightFlowVideo','TrafficShaper'],
                    'limit' : '10'
                })
                }}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        {{ current_site() }} <i class="fa fa-caret-down ml-2" aria-hidden="true"></i>
                    </a>
                    <div class="dropdown-menu dropdown-add">
                        <div class="container-fluid">
                            <div class="row">
                                <ul class="dropdown-menu col-md-12">
                                    <li role="presentation" class="dropdown-header">
                                        <i class="fa fa-cogs mr-2"></i>
                                        Sites
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem"
                                           tabindex="-1"
                                           href="{{ path('site_switch', { 'site': constant('App\\Entity\\Site::DEFAULT_ALL') }) }}">
                                            {{ 'ui.navbar.all'|trans }}
                                        </a>
                                    </li>

                                    {% for site in sites %}
                                        <li role="presentation">
                                            <a role="menuitem"
                                               tabindex="-1"
                                               href="{{ path('site_switch', { 'site': site.code }) }}">
                                                {{ site.name }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>

                {% if is_granted(sonata_admin.adminPool.getOption('role_super_admin')) %}
                    {% block sonata_top_nav_menu_add_block %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-plus-square fa-fw" aria-hidden="true"></i> <i class="fa fa-caret-down" aria-hidden="true"></i>
                            </a>
                            {% include get_global_template('add_block') %}
                        </li>
                    {% endblock %}
                {% endif %}
                {% block sonata_top_nav_menu_user_block %}
                    <li class="dropdown user-menu">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw" aria-hidden="true"></i> <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            {% include get_global_template('user_block') %}
                        </ul>
                    </li>
                {% endblock %}
            </ul>
        </div>
{% endblock %}
{% block sonata_sidebar_search %}
    {% if sonata_admin.adminPool.getOption('search') and is_granted(sonata_admin.adminPool.getOption('role_super_admin')) %}
        <form action="{{ path('sonata_admin_search') }}" method="GET" class="sidebar-form" role="search">
            <div class="input-group custom-search-form">
                <input type="text" name="q" value="{{ app.request.get('q') }}" class="form-control" placeholder="{{ 'search_placeholder'|trans({}, 'SonataAdminBundle') }}">
                <span class="input-group-btn">
                    <button class="btn btn-flat" type="submit">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </span>
            </div>
        </form>
    {% endif %}
{% endblock sonata_sidebar_search %}